@charset "UTF-8";

$black:         #000 !default;
$white:         #FFF !default;
$red:           #F00 !default;
$orange:        #FF6103 !default;
$yellow:        #FFD300 !default;
$green:         #13CE66 !default;
$blue:          #2E86FF !default;
$darkBlue:      #0076E4 !default;
$lightBlue:     #589EFF !default;



$grayDF:        #DFE3EC !default;
$grayPrimary:   #434F59 !default;