@charset "UTF-8";

$black:         #000;
$white:         #FFF;
$red:           #F00;
$orange:        #FF6103;
$yellow:        #FFD300;
$green:         #13CE66;
$blue:          #2E86FF;
$darkBlue:      #0076E4;
$lightBlue:     #589EFF;



$grayDF:        #DFE3EC;
$grayPrimary:   #434F59;