@charset "UTF-8";

@import './color.scss';

$radius2:       2px;
$prefix:        'eui-button';
$prefixicon:    'eui-button-icon';

@mixin button-bgcolor($name:blue, $color:$blue, $text-color:$white) {
  .#{$prefix}-#{$name}{
    color:$text-color;
    border-color:$color;
    background-color: $color;

    &:hover{
      background-color: lighten($color,20%);
      color:$text-color;
      border-color:lighten($color,20%);
    }
  }
}

@mixin button-basic-bgcolor-hover($name:blue, $color:$blue, $text-color:$white) {
  .#{$prefix}-#{$name}.basic:hover {
    color: $text-color;
    border-color:$color;
    background-color: $color;
  }
}




.#{$prefixicon} {
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$prefix} {
  display: inline-block;
  cursor:pointer;
  // border:0 none;
  outline: 0;
  vertical-align: baseline;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  // border-radius: $radius2;
  font-size:14px;
  padding: 7px 15px;
  // border:1px solid $gray-white;
  line-height: 1.5;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  // color: $gray;
  // background-color: $white;

  &.small {
    font-size: 12px;
    padding: 4px 12px;
  }

  &.medium {
    padding: 6px 20px;
    font-size: 14px;
  }

  &.large{
    font-size: 16px;
    padding: 9px 20px;
  }

  &.big {
    padding: 12px 20px;
    font-size: 18px;
  }

  //&:hover,
  &.basic:hover{
    border-color:darken($gray-white,10%);
    color: darken($gray,10%);
  }


  &-text {
    color:$gray;
    border:none 0;
    background-color: transparent;
    padding:0;

    &:hover{
      background-color: transparent;
      color:$gray;
    }
  }

  &.basic {
    color:$gray;
    border:1px solid $gray-white;
    background-color: transparent;
  }

  // &.disabled{
  //   background-color:#DFE3EC;
  //   cursor: not-allowed;
  //   color: $gray-lightest;
  //   border-color:#DFE3EC;
  // }

  &-loading{
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: opacity .2s;
  }

  .#{$prefixicon}+span{
    vertical-align: middle;
  }
  .#{$prefixicon}-left{
    margin-right:8px;
  }
  .#{$prefixicon}-right{
    margin-left:8px;
  }
  .#{$prefixicon}-loading{
    width:20px;height: 20px;
    background:url('//web.ewt360.com/common/eui/images/loading-primary.gif');
  }
  &.basic .#{$prefixicon}-loading{
    background:url('//web.ewt360.com/common/eui/images/loading.gif');
  }
}

//color
@include button-bgcolor($name:blue, $color: $blue);
@include button-bgcolor($name:green, $color: $green);
@include button-bgcolor($name:yellow, $color: $yellow);
@include button-bgcolor($name:red, $color: $red);
@include button-bgcolor($name:orange, $color: $orange);

// color basic
@include button-basic-bgcolor-hover($name:blue, $color: $blue);
@include button-basic-bgcolor-hover($name:green, $color: $green);
@include button-basic-bgcolor-hover($name:yellow, $color: $yellow);
@include button-basic-bgcolor-hover($name:red, $color: $red);
@include button-basic-bgcolor-hover($name:orange, $color: $orange);
